<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
    
</head>
<body>
    
    <div class="bgimg">
        <div class="centrediv">
            <img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png" id ="profilepic">
            <h2> user login</h2>
            <form>
                <div>
                     <input type="text" name=""  class="inputbox" placeholder="Username">
                </div>
                <br>
                <div>
                    <input type="password" name=""  class="inputbox" placeholder="Password">
               </div>
               <br>
               <div>
                   <button type="submit"> LOGIN/REGISTER </button>
               </div>
            </form> <br>
            <div class="frgt-sec"> 
              <h4>Forget password</h4>
            </div>
            </div>
        
    </div>

</body>
</html>
